mixin button(args)
    - const DEFAULT_OPTIONS = {};
    - DEFAULT_OPTIONS.type = 'button'
    - DEFAULT_OPTIONS.variant = ''
    - DEFAULT_OPTIONS.label = ''
    - DEFAULT_OPTIONS.disabled = false
    - args = Object.assign({}, DEFAULT_OPTIONS, args || {});

    button.btn(
        type= args.type
        disabled = args.disabled
        class= attributes.class
        class= args.disabled && "disabled"
        class= args.size
        class= args.variant)
        != args.label


